<p>
  <strong>Title:</strong>
  <%= article.title %>
</p>
<p>
  <strong>Text</strong>
  <%= article.text %>
</p>

<p>
<%= link_to 'Destroy article', [article.author, article], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<br>